.button_simple {
  background-color: #FF3B1D;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 25px;
}

.button_simple:hover {
    background-color: #f76049;
}

.button_authorization {
  display: block;
  margin: 20px auto;
}