{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "max-len": [1, 70, 2, {"ignoreComments": true}],
    "linebreak-style": 0,
    "indent": 0,
    "react/jsx-indent": ["error", 4],
    "react/jsx-one-expression-per-line": 0,
    "import/no-unresolved": [
      2,
      { "caseSensitive": false }
    ]
  },
  "extends": ["airbnb"],
  "globals": {
    "document": false,
    "window": false
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "src",
          "node_modules"
        ],
        "paths": ["src/client"]
      }
    }
  }
}