.button_simple {
  background-color: #D62246;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 25px;
}

.button_authorization {
  display: block;
  margin: 20px auto;
}