.input_simple {
    height: 45px;
    margin: 20px auto;
    width: 75%;
    border-radius: 3px;
    border: 0.5px solid #bbb;
    box-shadow: 0 1px 1px #aaa inset;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;

    &:focus {
       border: none;
       box-shadow: 0 0 10px 2px #3E78B2;
    }
}
