.authorization_wrapper{
      width: 35%;
      margin: 10% auto;
      padding: 85px 0;
      border-radius: 6px;
      background-color: #E9F9F8;
}

.center{
  margin: 0 auto;
  text-align: center;
}